@mixin flex-boxs($direction : row) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: $direction;
}

@mixin mobile {
    @media (max-width : 650px) {
        @content;
        
    }
}
@mixin semi-mobile {
    @media(max-width:1024px) {
        @content;
    }
    
}

